<!--Contains the About Us page of the website-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/about.css">
</head>

<body>
    <header id="header">
        <% include partials/header.ejs %>
    </header>

    <nav>
        <% include partials/navig.ejs %>
    </nav>
    <main>
        <div id="main-content">
            <h2><u>Bookworm</u></h2>
            <p>About Us:</p>
            <p>Bookworm is a place where people can meet and join together for reading books and share their ideas on
                every possible topic.<br>
                The users can login and have a check on the list of upcoming events.
                There are various events that take place weekly. These events are categorized based on age groups and
                interests and includes fun events as well.</p>

            <p>For more details on the upcoming or past events, kindly navigate to the <i>Events</i> section.</p>
            <p>To connect with us, kindly navigate to the <i>Contact Us</i> section.</p>

            <p><em>A great platform for all the Bibliophiles out there! Come and explore!</em></p>
        </div>
    </main>
    <footer>
        <% include partials/footer.ejs %>
    </footer>
</body>

</html>