<!--Information about the Contact Us Page-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/contact.css">
</head>

<body>
    <header id="header">
        <% include partials/header.ejs %>
    </header>

    <nav>
        <% include partials/navig.ejs %>
    </nav>
    <main>
        <h3><u>Events</u></h3>
        <section class="contact">
            <h3><u>Contact Us:</u></h3>
            <ul id="con">
                <li id="conphone"> Nivedita : +1-980-453-8658</li>
                <li id="conemail"> Email : bookworm@uncc.edu</li>
                <li id="conweb"> Website : www.bookworm.com</li>
            </ul>
        </section>

        <section class="extra">
            <h3><u>Additional Contact: </u></h3>
            <ul id="extracon">
                <li id="extracon1"> Aditi : +1-980-453-8657</li>
                <li id="extracon2"> Aarudra : +1-980-453-8659</li>
            </ul>
        </section>

    </main>
    <footer>
        <% include partials/footer.ejs %>
    </footer>
</body>

</html>