<!--Homepage-->
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Bookworm Homepage</title>
	<link rel="stylesheet" type="text/css" href="assets/stylesheets/index.css" />
</head>

<body>
	<header id="header">
		<%include partials/header.ejs%>
	</header>

	<nav>
		<%include partials/navig.ejs%>
	</nav>

	<main>
		<img src="assets/images/newbooksbanner.jpg" alt="Books"><br>
		<section class="article">
			<div id="main-content-area">
				<h2><u>Bookworm</u></h2><br>
				<p>About Us:</p><br>
				<p>Bookworm is a place where people can meet and join together for reading books and share their ideas
					on every possible topic.<br>The users can also login and have a check on the list of upcoming
					events. There are various events that take
					place weekly. These events are categorized based on age groups and interests and includes fun events
					as well.</p><br>
				<p><em>A great platform for all the Bibliophiles out there! Come and explore!</em></p>
			</div>
		</section>
	</main>

	<footer>
		<%include partials/footer.ejs%>
	</footer>

</body>

</html>