@charset "UTF-8";
body{
  margin: 0px;
  height: 100%;
  background-color: #000000;
  width: 100%;
  font-family: Helvetica;
}

#header{
    width: 100%;
    height: auto;
    text-align: center;
    position: relative;
}

.logo{
    width: 200px;
    padding: 5px;
    margin: 5px;
}

#top-bar{
    position: absolute;
    top: 20px;
    right: 10px;
}

.signupspace{
    list-style-type: none;
    padding: 0px;
    text-align: center;
    margin: 0px;
}

header ul li {
    display: inline-block;
} 

.signupicons{
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
} 
.signupicons:hover {
    background-color: orange;
}

.signupspace .active {
    background-color: #4CAF50;
}

#loginstatus{
  display: block;
  top: 0px;
  margin-top: 30px;
  margin-left: 10px;
}

.navsec{
  background-color: #FFFFFF;
  color: #000000;
  padding: 10px;
    margin-top: 5px;
    position: relative;
    display: block;
    float: top;
}

.navsec ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    text-align: center;
    margin: 0px;
} 

.navsec ul li {
    display: inline-block;
    font-size: 20px;
} 

.navbar{
  text-align: center;
    padding: 0px 30px;
    display: block;
    color: #000000;
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;
}

.navbar.active {
  background-color: #808080;
  color: gray;
}

.navbar:hover:not(.active) {
    background-color: #8a8a8a;
    color: white;
}

main{
  margin: 5px;
}

main img{
	width: 1260px;
	height: 200px;
  margin: 5px;
}

h2{
	color: #808080;
	font-family: Helvetica;
  margin: 5px;
  text-decoration: none;

}

p{
	color: #808080;
	font-family: Helvetica;
  margin: 5px;
}

footer{
   clear: both;
    color: #808080;
    bottom: 0px;
    width: 100%;
    height: auto;   
    margin: 5px; 
    padding: 10px 0px 10px 0px;
    margin-top: 30px;
}